.NavBar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
    background-color: white;
    
    
    }
    
    .NavBar__left {
        display: flex;
        font-size: 30px;
        color: rgb(126, 135, 127);
        
    }
    

    
    .NavBar__right {
        display: flex; 
    
    }
    
    